---
const { title } = Astro.props;
import { Icon } from 'astro-icon/components';

const products = [
	{
		icon:"",
		name:"producto 1"
	},
	{
		icon:"",
		name:"producto 2"
	},
	{
		icon:"",
		name:"producto 3"
	}
]
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-zinc-800 flex justify-center items-center">
			<div class="flex items-center">
				<img src="/public/aliexpress.webp" class="h-16">
				<div class="relative ">
					<input placeholder="Buscar..." class="h-9 w-[800px] rounded-full pl-4 outline-none pr-14">
					<div class="bg-zinc-800 inline-block text-white rounded-2xl px-2 py-1 absolute right-1 top-[2px]">
						<Icon name="mdi:search" class="size-6" />				
					</div>
				</div>
				<div class="text-white flex ml-4">
					<Icon name="mdi:qrcode" class="h-8 w-8" />
					<p class="text-white text-xs ">Descarga la app <br> de AliExpress</p>
				</div>
				<div class="flex ml-4">
					<Icon name="emojione-v1:flag-for-colombia" class=" h-8 w-8" />
					<div class="block">
						<p class="text-white text-xs ml-2">ES/</p>
						<div class="text-white flex">
							<p class="text-white text-xs ml-2">COP</p>
							<Icon name="mdi:keyboard-arrow-down" >
						</div>	
					</div>	
				</div>
				<div class="flex ml-4">
					<Icon name="mdi:account" class="h-8 w-8 text-white" />
					<div class="block">
						<p class="text-white text-xs ml-2 ">Bienvenido</p>
						<div class="text-white flex">
							<p class="text-white text-xs ml-2">Identificate / Registrate</p>		
							<Icon name="mdi:keyboard-arrow-down"></Icon>
						</div>
					</div>
					
				</div>
				<div class="flex ml-4 ">
					<Icon name="mdi:shopping-cart-outline" class="h-8 w-8 text-white mt-2" />
					<div class="text-white ">
						<div class="bg-white border-[1px] rounded-xl h-4  text-black text-center mt-2">0</div>
						<p class="text-white text-xs"> Cesta</p>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-zinc-800 flex justify-center items-center">
			<div class="bg-zinc-800 flex justify-center items-center text-white border-[1px] rounded-full px-2 py-1 mb-3">
				<Icon name="mdi:menu" class="mr-1"/>
				<a class="text-[15px] group relative">Todas las categorias
					
					<menu class="hidden group-hover:block w-full top-0 absolute bg-zinc-800 rounded-xl">Todas las categorias 
						<ul>
							<li>opcion1</li>
							<li>opcion2</li>
							<li>opcion3</li>
						</ul>
					</menu>
				</a>
				<div class=""><Icon name="mdi:keyboard-arrow-down" /></div>
			</div>
			<div class="text-white m-2 text-lg px-2 py-1 mb-5">
				<p>NN</p>
			</div>
			<div class="text-white m-2 text-lg px-2 py-1 mb-5">
				<p>Los mas vendidios</p>
			</div>
			<div class="text-white m-2 text-lg px-2 py-1 mb-5">
				<p>	Mejores marcas</p>
			</div>
			<div class="text-white m-2 text-lg px-2 py-1 mb-5">
				<p>Hogar & Jardin</p>
			</div>
			<div class="text-white m-2 text-lg px-2 py-1 mb-5">
				<p>Extensiones de cabello y pelucas</p>
			</div>
			<div class="text-white m-2 text-lg px-2 py-1 mb-5">
				<p>Ropa de Hombres</p>
			</div>
			<div class="text-white m-2 text-lg px-2 py-1 mb-5">
				<p>Accesorios</p>
			</div>
			<div class="text-white m-2 text-lg px-2 py-1 mb-5">
				<p>Electronica de consumo</p>
			</div>
			<div class="text-white m-2 text-lg flex px-2 py-1 mb-5">
				<p>Mas</p>
				<Icon class="mt-2" name="mdi:keyboard-arrow-down"></Icon>
			</div>
		</div>
		<div class="grid grid-cols-9 grid-rows-7 gap-2 row-2">
			<div class="bg-[#f5f5f5] text-black col-span-2 row-span-2 min-h-40 rounded-xl">
				<div class="grid grid-cols-2">
					<div class="bg-black text-white rounded-xl text-center">Registro</div>
					<div class="bg-white text-black text-center  rounded-xl">Iniciar sesion</div>
				</div>
				<div class="">
					<p class="">o continuar con</p>
				</div>
				caja1
			</div>
			<div class="bg-red-500 text-white col-span-3 row-span-7 min-h-40">
				caja2
			</div>
			<div class="bg-red-500 text-white col-span-4 row-span-4 min-h-40">
				caja3
			</div>
			<div class="bg-red-500 text-white col-span-2 row-span-5 min-h-40">
				caja4
			</div>
			<div class="bg-red-500 text-white col-span-4 row-span-3 min-h-40">
				caja5
			</div>
		</div>					
	</body>
</html>

	
</style>
